In [1]:
"""
Amadeus Challenge : Data Scientist Position
Author            : Angeloni Julien
Date Creation     : 10/09/2018

Bonus exercise 1 - Match Searches with Bookings

Data              : bookings.csv & searches.csv
"""

'\nAmadeus Challenge : Data Scientist Position\nAuthor            : Angeloni Julien\nDate Creation     : 10/09/2018\n\nBonus exercise 1 - Match Searches with Bookings\n\nData              : bookings.csv & searches.csv\n'

In [0]:
#LIBRAIRIES
import pandas as pd
from google.colab import drive

In [4]:
#IMPORT FILES
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [0]:
# GLOBAL VARIABLES
SEARCHES = '/content/gdrive/My Drive/Colab Notebooks/searches.csv'
BOOKINGS = '/content/gdrive/My Drive/Colab Notebooks/bookings.csv'

In [0]:
#USEFUL DATAFRAME
DF_SEARCHES_ARCH = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', sep='^', nrows=1)
DF_BOOKINGS_ARCH = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep='^', nrows=1)

In [11]:
#PRINT ARCHITECTURE
print("***** SEARCHES ARCHITECTURE *****")
DF_SEARCHES_ARCH.info()
print('\n')
print("***** BOOKINGS ARCHITECTURE *****")
DF_BOOKINGS_ARCH.info()

***** SEARCHES ARCHITECTURE *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 45 columns):
Date                 1 non-null object
Time                 1 non-null object
TxnCode              1 non-null object
OfficeID             1 non-null object
Country              1 non-null object
Origin               1 non-null object
Destination          1 non-null object
RoundTrip            1 non-null int64
NbSegments           1 non-null int64
Seg1Departure        1 non-null object
Seg1Arrival          1 non-null object
Seg1Date             1 non-null object
Seg1Carrier          1 non-null object
Seg1BookingCode      0 non-null float64
Seg2Departure        1 non-null object
Seg2Arrival          1 non-null object
Seg2Date             1 non-null object
Seg2Carrier          1 non-null object
Seg2BookingCode      0 non-null float64
Seg3Departure        0 non-null float64
Seg3Arrival          0 non-null float64
Seg3Date             0 non-null float64
Seg3Carrier          0 non-null float64
Seg3BookingCode      0 non-null float64
Seg4Departure        0 non-null float64
Seg4Arrival          0 non-null float64
Seg4Date             0 non-null float64
Seg4Carrier          0 non-null float64
Seg4BookingCode      0 non-null float64
Seg5Departure        0 non-null float64
Seg5Arrival          0 non-null float64
Seg5Date             0 non-null float64
Seg5Carrier          0 non-null float64
Seg5BookingCode      0 non-null float64
Seg6Departure        0 non-null float64
Seg6Arrival          0 non-null float64
Seg6Date             0 non-null float64
Seg6Carrier          0 non-null float64
Seg6BookingCode      0 non-null float64
From                 1 non-null object
IsPublishedForNeg    1 non-null int64
IsFromInternet       1 non-null int64
IsFromVista          1 non-null int64
TerminalID           1 non-null object
InternetOffice       1 non-null object
dtypes: float64(22), int64(5), object(18)
memory usage: 432.0+ bytes


***** BOOKINGS ARCHITECTURE *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 38 columns):
act_date               1 non-null object
source                 1 non-null object
pos_ctry               1 non-null object
pos_iata               1 non-null object
pos_oid                1 non-null object
rloc                   1 non-null object
cre_date               1 non-null object
duration               1 non-null int64
distance               1 non-null int64
dep_port               1 non-null object
dep_city               1 non-null object
dep_ctry               1 non-null object
arr_port               1 non-null object
arr_city               1 non-null object
arr_ctry               1 non-null object
lst_port               1 non-null object
lst_city               1 non-null object
lst_ctry               1 non-null object
brd_port               1 non-null object
brd_city               1 non-null object
brd_ctry               1 non-null object
off_port               1 non-null object
off_city               1 non-null object
off_ctry               1 non-null object
mkt_port               1 non-null object
mkt_city               1 non-null object
mkt_ctry               1 non-null object
intl                   1 non-null int64
route                  1 non-null object
carrier                1 non-null object
bkg_class              1 non-null object
cab_class              1 non-null object
brd_time               1 non-null object
off_time               1 non-null object
pax                    1 non-null int64
year                   1 non-null int64
month                  1 non-null int64
oid                    1 non-null object
dtypes: int64(6), object(32)
memory usage: 376.0+ bytes

In [14]:
BOOKINGS_ARCH

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL

In [23]:
print(SEARCHES_ARCH.values)
print(BOOKINGS_ARCH.values)

[[u'2013-01-01' u'20:25:57' u'MPT' u'624d8c3ac0b3a7ca03e3c167e0f48327'
  u'DE' u'TXL' u'AUH' 1 2 u'TXL' u'AUH' u'2013-01-26' u'D2' nan u'AUH'
  u'TXL' u'2013-02-02' u'D2' nan nan nan nan nan nan nan nan nan nan nan
  nan nan nan nan nan nan nan nan nan nan u'1ASIWS' 0 0 0
  u'd41d8cd98f00b204e9800998ecf8427e' u'FRA']]
[[u'2013-03-05 00:00:00' u'1A    ' u'DE      '
  u'a68dd7ae953c8acfb187a1af2dcbe123' u'1a11ae49fcbf545fd2afc1a24d88d2b7'
  u'ea65900e72d71f4626378e2ebd298267' u'2013-02-22 00:00:00' 1708 0
  u'ZRH     ' u'ZRH     ' u'CH      ' u'LHR     ' u'LON     ' u'GB      '
  u'ZRH     ' u'ZRH     ' u'CH      ' u'LHR     ' u'LON     ' u'GB      '
  u'ZRH     ' u'ZRH     ' u'CH      ' u'LHRZRH  ' u'LONZRH  ' u'CHGB    '
  1 u'LHRZRH         ' u'VI' u'T        ' u'Y        '
  u'2013-03-07 08:50:00' u'2013-03-07 11:33:37' -1 2013 3 u'NULL     ']]

We will interet at first at the long series of digits and characters


*   SEARCHES :

  *   OfficeID
  *   TerminalID

*   BOOKINGS

  *   pos_iata
  *   pos_oid
  *   rloc

In [0]:
#LISTS WITH INTERESTING FIELDS
list_bookings = ['pos_iata', 'pos_oid','rloc']
list_searches = ['OfficeID','TerminalID']