In [1]:
"""
Amadeus Challenge : Data Scientist Position
Author            : Angeloni Julien
Date Creation     : 10/08/2018

First Exercise - Count the number of lines in Python for each files

Data              : bookings.csv & searches.csv
"""

'\nAmadeus Challenge : Data Scientist Position\nAuthor            : Angeloni Julien\nDate Creation     : 10/08/2018\n\nFirst Exercise - Count the number of lines in Python for each files\n\nData              : bookings.csv & searches.csv\n'

In [0]:
# LIBRARIES
import pandas as pd
from google.colab import drive

In [9]:
# IMPORT FILES
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [15]:
# GLOBAL VARIABLES
SEARCHES = '/content/gdrive/My Drive/Colab Notebooks/searches.csv'
BOOKINGS = '/content/gdrive/My Drive/Colab Notebooks/bookings.csv'

b'Skipping line 1436003: expected 1 fields, saw 45\n'
b'Skipping line 1795013: expected 1 fields, saw 45\nSkipping line 1795023: expected 1 fields, saw 45\n'
b'Skipping line 3231033: expected 1 fields, saw 45\nSkipping line 3590043: expected 1 fields, saw 45\nSkipping line 3590053: expected 1 fields, saw 45\n'
b'Skipping line 5026063: expected 1 fields, saw 45\n'
b'Skipping line 5385073: expected 1 fields, saw 45\nSkipping line 5385083: expected 1 fields, saw 45\n'
b'Skipping line 6821093: expected 1 fields, saw 45\nSkipping line 7180103: expected 1 fields, saw 45\nSkipping line 7180113: expected 1 fields, saw 45\n'
b'Skipping line 8616123: expected 1 fields, saw 45\n'
b'Skipping line 8975133: expected 1 fields, saw 45\nSkipping line 8975143: expected 1 fields, saw 45\n'
b'Skipping line 10411153: expected 1 fields, saw 45\n'
b'Skipping line 10770163: expected 1 fields, saw 45\nSkipping line 10770173: expected 1 fields, saw 45\n'
b'Skipping line 12206183: expected 1 fields, saw 45\nSkipping line 12565193: expected 1 fields, saw 45\nSkipping line 12565203: expected 1 fields, saw 45\n'
b'Skipping line 14001213: expected 1 fields, saw 45\n'
b'Skipping line 14360223: expected 1 fields, saw 45\nSkipping line 14360233: expected 1 fields, saw 45\n'
b'Skipping line 15796243: expected 1 fields, saw 45\nSkipping line 16155253: expected 1 fields, saw 45\nSkipping line 16155263: expected 1 fields, saw 45\n'
b'Skipping line 17591273: expected 1 fields, saw 45\n'
b'Skipping line 17950283: expected 1 fields, saw 45\nSkipping line 17950293: expected 1 fields, saw 45\n'
b'Skipping line 19386303: expected 1 fields, saw 45\n'
b'Skipping line 19745313: expected 1 fields, saw 45\nSkipping line 19745323: expected 1 fields, saw 45\n'

In [16]:
# SOURCE DATAFRAMES
SEARCHES_DF = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', delimiter='^')
BOOKINGS_DF = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', delimiter='^')

  Date^Time^TxnCode^OfficeID^Country^Origin^Destination^RoundTrip^NbSegments^Seg1Departure^Seg1Arrival^Seg1Date^Seg1Carrier^Seg1BookingCode^Seg2Departure^Seg2Arrival^Seg2Date^Seg2Carrier^Seg2BookingCode^Seg3Departure^Seg3Arrival^Seg3Date^Seg3Carrier^Seg3BookingCode^Seg4Departure^Seg4Arrival^Seg4Date^Seg4Carrier^Seg4BookingCode^Seg5Departure^Seg5Arrival^Seg5Date^Seg5Carrier^Seg5BookingCode^Seg6Departure^Seg6Arrival^Seg6Date^Seg6Carrier^Seg6BookingCode^From^IsPublishedForNeg^IsFromInternet^IsFromVista^TerminalID^InternetOffice
0  2013-01-01^20:25:57^MPT^624d8c3ac0b3a7ca03e3c1...
1  2013-01-01^10:15:33^MPT^b0af35b31588dc4ab06d5c...
2  2013-01-01^18:04:49^MPT^3561a60621de06ab1badc8...
3  2013-01-01^17:42:40^FXP^1864e5e8013d9414150e91...
4  2013-01-01^17:48:29^MPT^1ec336348f44207d2e0027...