In [1]:
"""
Amadeus Challenge : Data Scientist Position
Author            : Angeloni Julien
Date Creation     : 10/08/2018

First Exercise - Count the number of lines in Python for each files

Data              : bookings.csv & searches.csv
"""

'\nAmadeus Challenge : Data Scientist Position\nAuthor            : Angeloni Julien\nDate Creation     : 10/08/2018\n\nFirst Exercise - Count the number of lines in Python for each files\n\nData              : bookings.csv & searches.csv\n'

In [0]:
# LIBRARIES
import pandas as pd
from google.colab import drive

In [3]:
# IMPORT FILES
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# GLOBAL VARIABLES
SEARCHES = '/content/gdrive/My Drive/Colab Notebooks/searches.csv'
BOOKINGS = '/content/gdrive/My Drive/Colab Notebooks/bookings.csv'

In [0]:
# SOURCE DATAFRAMES

# We use the first column only in order to manage our memory.
# We just need the number of row, so one column is sufficient.
SEARCHES_DF = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', sep='^', usecols=['Date'])
BOOKINGS_DF = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep='^', usecols=[0])

In [13]:
# GET NUMBER OF LINE
SEARCHES_DF.info()
BOOKINGS_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20390198 entries, 0 to 20390197
Data columns (total 1 columns):
Date    object
dtypes: object(1)
memory usage: 155.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000010 entries, 0 to 10000009
Data columns (total 1 columns):
act_date               object
dtypes: object(1)
memory usage: 76.3+ MB

Results for the fisrt exercise :

*   **searches.csv** : 20 390 198 lines
*   **bookings.csv** : 10 000 010 lines

In [0]:
# ARCHITECTURES OF FILES
SEARCHES_DF = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', sep='^', nrows=1)
BOOKINGS_DF = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep='^', nrows=1)

In [15]:
# GET NUMBER OF LINE
SEARCHES_DF.info()
BOOKINGS_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 45 columns):
Date                 1 non-null object
Time                 1 non-null object
TxnCode              1 non-null object
OfficeID             1 non-null object
Country              1 non-null object
Origin               1 non-null object
Destination          1 non-null object
RoundTrip            1 non-null int64
NbSegments           1 non-null int64
Seg1Departure        1 non-null object
Seg1Arrival          1 non-null object
Seg1Date             1 non-null object
Seg1Carrier          1 non-null object
Seg1BookingCode      0 non-null float64
Seg2Departure        1 non-null object
Seg2Arrival          1 non-null object
Seg2Date             1 non-null object
Seg2Carrier          1 non-null object
Seg2BookingCode      0 non-null float64
Seg3Departure        0 non-null float64
Seg3Arrival          0 non-null float64
Seg3Date             0 non-null float64
Seg3Carrier          0 non-null float64
Seg3BookingCode      0 non-null float64
Seg4Departure        0 non-null float64
Seg4Arrival          0 non-null float64
Seg4Date             0 non-null float64
Seg4Carrier          0 non-null float64
Seg4BookingCode      0 non-null float64
Seg5Departure        0 non-null float64
Seg5Arrival          0 non-null float64
Seg5Date             0 non-null float64
Seg5Carrier          0 non-null float64
Seg5BookingCode      0 non-null float64
Seg6Departure        0 non-null float64
Seg6Arrival          0 non-null float64
Seg6Date             0 non-null float64
Seg6Carrier          0 non-null float64
Seg6BookingCode      0 non-null float64
From                 1 non-null object
IsPublishedForNeg    1 non-null int64
IsFromInternet       1 non-null int64
IsFromVista          1 non-null int64
TerminalID           1 non-null object
InternetOffice       1 non-null object
dtypes: float64(22), int64(5), object(18)
memory usage: 440.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 38 columns):
act_date               1 non-null object
source                 1 non-null object
pos_ctry               1 non-null object
pos_iata               1 non-null object
pos_oid                1 non-null object
rloc                   1 non-null object
cre_date               1 non-null object
duration               1 non-null int64
distance               1 non-null int64
dep_port               1 non-null object
dep_city               1 non-null object
dep_ctry               1 non-null object
arr_port               1 non-null object
arr_city               1 non-null object
arr_ctry               1 non-null object
lst_port               1 non-null object
lst_city               1 non-null object
lst_ctry               1 non-null object
brd_port               1 non-null object
brd_city               1 non-null object
brd_ctry               1 non-null object
off_port               1 non-null object
off_city               1 non-null object
off_ctry               1 non-null object
mkt_port               1 non-null object
mkt_city               1 non-null object
mkt_ctry               1 non-null object
intl                   1 non-null int64
route                  1 non-null object
carrier                1 non-null object
bkg_class              1 non-null object
cab_class              1 non-null object
brd_time               1 non-null object
off_time               1 non-null object
pax                    1 non-null int64
year                   1 non-null int64
month                  1 non-null int64
oid                    1 non-null object
dtypes: int64(6), object(32)
memory usage: 384.0+ bytes