In [0]:
"""
Amadeus Challenge : Data Scientist Position
Author            : Angeloni Julien
Date Creation     : 10/08/2018

Second exercise - Top 10 arrival airports in the world in 2013

Data              : bookings.csv
"""

In [0]:
# LIBRARIES
import pandas as pd
from google.colab import drive

In [3]:
# IMPORT FILES
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# GLOBAL VARIABLES
BOOKINGS = '/content/gdrive/My Drive/Colab Notebooks/bookings.csv'

# DATAFRAME STRUCTURE
BOOKINGS_DF_STRUCT = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep='^', nrows=1)

# Dataframe using suggested columns
BOOKINGS_DF_EX = pd.read_csv(BOOKINGS, error_bad_lines=False, encoding='UTF8', sep='^', usecols=['arr_port','pax'])

In [7]:
BOOKINGS_DF_STRUCT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 38 columns):
act_date               1 non-null object
source                 1 non-null object
pos_ctry               1 non-null object
pos_iata               1 non-null object
pos_oid                1 non-null object
rloc                   1 non-null object
cre_date               1 non-null object
duration               1 non-null int64
distance               1 non-null int64
dep_port               1 non-null object
dep_city               1 non-null object
dep_ctry               1 non-null object
arr_port               1 non-null object
arr_city               1 non-null object
arr_ctry               1 non-null object
lst_port               1 non-null object
lst_city               1 non-null object
lst_ctry               1 non-null object
brd_port               1 non-null object
brd_city               1 non-null object
brd_ctry               1 non-null object
off_port               1 non-null object
off_city               1 non-null object
off_ctry               1 non-null object
mkt_port               1 non-null object
mkt_city               1 non-null object
mkt_ctry               1 non-null object
intl                   1 non-null int64
route                  1 non-null object
carrier                1 non-null object
bkg_class              1 non-null object
cab_class              1 non-null object
brd_time               1 non-null object
off_time               1 non-null object
pax                    1 non-null int64
year                   1 non-null int64
month                  1 non-null int64
oid                    1 non-null object
dtypes: int64(6), object(32)
memory usage: 384.0+ bytes

In [11]:
# CHECKING SELECTED COLUMNS
BOOKINGS_DF_EX.head(10)

   arr_port  pax
0  LHR      -1.0
1  CLT       1.0
2  CLT       1.0
3  SVO       1.0
4  SVO       1.0
5  LGA       1.0
6  LGA       1.0
7  SIN       2.0
8  SIN       2.0
9  SIN       2.0

In [0]:
# CREATE DATAFRAME FROM BOOKINGS_DF_EX GROUPED BY arr_port
BOOKINGS_GROUP_BY_ARR_PORT = BOOKINGS_DF_EX.groupby(['arr_port']).sum()

In [13]:
BOOKINGS_GROUP_BY_ARR_PORT

              pax
arr_port
AAB          30.0
AAE         810.0
AAL         810.0
AAN          20.0
AAQ        1650.0
AAR         500.0
ABA          90.0
ABB          40.0
ABE         880.0
ABI         150.0
ABJ        2600.0
ABK           0.0
ABQ        4290.0
ABR           0.0
ABS         310.0
ABT         300.0
ABV        1950.0
ABX         300.0
ABY          90.0
ABZ        3710.0
ACA         700.0
ACC        3810.0
ACE        1700.0
ACH          20.0
ACI          40.0
ACK         200.0
ACT         180.0
ACV         140.0
ACY         190.0
ADA         980.0
...           ...
ZAZ          50.0
ZBF         110.0
ZBL          90.0
ZCL         150.0
ZCO         490.0
ZDH          60.0
ZFQ          40.0
ZFV         120.0
ZHA           0.0
ZIG          40.0
ZIH         870.0
ZLN           0.0
ZLO         500.0
ZNE        1510.0
ZNZ         970.0
ZOS          70.0
ZQN        1720.0
ZRH       20190.0
ZSA          10.0
ZSE          10.0
ZTH          50.0
ZUH          40.0
ZVE          40.0
ZVJ          20.0
ZVK          20.0
ZWE          30.0
ZWS         620.0
ZYL        1290.0
ZYN          20.0
ZYR        1020.0

[2275 rows x 1 columns]