In [0]:
"""
Amadeus Challenge : Data Scientist Position
Author            : Angeloni Julien
Date Creation     : 11/08/2018

Third exercise - Plot the monthly number of searches for flights arriving at
                  * Malaga
                  * Madrid
                  * Barcelona

Data              : searches.csv
"""

In [0]:
#LIBRARIES
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

In [2]:
#IMPORT FILE
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [0]:
#GLOBAL VARIABLES
SEARCHES = '/content/gdrive/My Drive/Colab Notebooks/searches.csv'

#DATAFRAME STRUCTURE
cols = ['Date','Destination','NbSegments','Seg1Date','Seg2Date','Seg3Date','Seg4Date','Seg5Date','Seg6Date']
SEARCHES_DF_DEST = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', sep='^', usecols=cols)

In [7]:
SEARCHES_DF_DEST

,Date,Destination,NbSegments,Seg1Date,Seg2Date,Seg3Date,Seg4Date,Seg5Date,Seg6Date
0,2013-01-01,AUH,2.0,2013-01-26,2013-02-02,NaN,NaN,NaN,NaN
1,2013-01-01,MIL,1.0,2013-01-04,NaN,NaN,NaN,NaN,NaN
2,2013-01-01,SFO,2.0,2013-08-02,2013-08-09,NaN,NaN,NaN,NaN
3,2013-01-01,ARN,1.0,2013-01-02,NaN,NaN,NaN,NaN,NaN
4,2013-01-01,MAD,2.0,2013-03-22,2013-03-31,NaN,NaN,NaN,NaN
5,2013-01-01,BLR,2.0,2013-02-14,2013-02-23,NaN,NaN,NaN,NaN
6,2013-01-01,PAR,2.0,2013-03-02,2013-03-07,NaN,NaN,NaN,NaN
7,2013-01-01,DUB,2.0,2013-02-12,2013-02-17,NaN,NaN,NaN,NaN
8,2013-01-01,ACE,2.0,2013-03-30,2013-04-06,NaN,NaN,NaN,NaN
9,2013-01-01,BGW,2.0,2013-02-26,2013-04-08,NaN,NaN,NaN,NaN
10,2013-01-01,BUD,2.0,2013-03-14,2013-03-17,NaN,NaN,NaN,NaN
11,2013-01-01,POA,2.0,2013-02-01,2013-02-18,NaN,NaN,NaN,NaN
12,2013-01-01,MXP,2.0,2013-05-21,2013-06-03,NaN,NaN,NaN,NaN
13,2013-01-01,LON,1.0,2013-01-30,NaN,NaN,NaN,NaN,NaN
14,2013-01-01,SNN,2.0,2013-06-05,2013-06-23,NaN,NaN,NaN,NaN
15,2013-01-01,SLZ,1.0,2013-04-23,NaN,NaN,NaN,NaN,NaN
16,2013-01-01,PHL,1.0,2013-02-22,NaN,NaN,NaN,NaN,NaN
17,2013-01-01,GRU,2.0,2013-01-04,2013-02-04,NaN,NaN,NaN,NaN
18,2013-01-01,IKT,1.0,2013-04-02,NaN,NaN,NaN,NaN,NaN
19,2013-01-01,HKG,2.0,2013-01-05,2013-01-11,NaN,NaN,NaN,NaN
20,2013-01-01,SEA,2.0,2013-06-26,2013-07-26,NaN,NaN,NaN,NaN
21,2013-01-01,STN,2.0,2013-03-18,2013-03-22,NaN,NaN,NaN,NaN
22,2013-01-01,FUE,1.0,2013-01-15,NaN,NaN,NaN,NaN,NaN
23,2013-01-01,IST,2.0,2013-03-24,2013-03-28,NaN,NaN,NaN,NaN
24,2013-01-01,VIE,2.0,2013-01-15,2013-01-22,NaN,NaN,NaN,NaN
25,2013-01-01,SAO,1.0,2013-01-07,NaN,NaN,NaN,NaN,NaN
26,2013-01-01,BRI,2.0,2013-04-06,2013-04-14,NaN,NaN,NaN,NaN
27,2013-01-01,JED,1.0,2013-01-04,NaN,NaN,NaN,NaN,NaN
28,2013-01-01,CPH,2.0,2013-01-06,2013-01-15,NaN,NaN,NaN,NaN
29,2013-01-01,DRS,1.0,2013-04-03,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
20390168,2013-10-13,ZAD,2.0,2013-10-30,2013-11-03,NaN,NaN,NaN,NaN
20390169,2013-10-13,PEI,4.0,2013-10-19,2013-10-19,2013-10-26,2013-10-26,NaN,NaN
20390170,2013-10-13,MLE,2.0,2013-12-19,2013-12-30,NaN,NaN,NaN,NaN
20390171,2013-10-13,DEL,2.0,2013-12-29,2014-01-30,NaN,NaN,NaN,NaN
20390172,2013-10-13,ABJ,2.0,2014-01-28,2014-03-30,NaN,NaN,NaN,NaN
20390173,2013-10-13,BRU,2.0,2013-10-18,2013-11-13,NaN,NaN,NaN,NaN
20390174,2013-10-13,CDG,2.0,2013-11-14,2013-11-17,NaN,NaN,NaN,NaN
20390175,2013-10-13,BKK,2.0,2013-12-10,2014-01-16,NaN,NaN,NaN,NaN
20390176,2013-10-13,SSA,1.0,2013-11-05,NaN,NaN,NaN,NaN,NaN
20390177,2013-10-13,CPH,1.0,2014-07-21,NaN,NaN,NaN,NaN,NaN
20390178,2013-10-13,CGH,1.0,2013-10-22,NaN,NaN,NaN,NaN,NaN
20390179,2013-10-13,PVR,2.0,2013-11-29,2013-12-06,NaN,NaN,NaN,NaN
20390180,2013-10-13,HAM,2.0,2013-10-21,2013-10-24,NaN,NaN,NaN,NaN
20390181,2013-10-13,PRG,1.0,2013-11-21,NaN,NaN,NaN,NaN,NaN
20390182,2013-10-13,JFK,4.0,2013-12-26,2013-12-26,2014-01-05,2014-01-06,NaN,NaN
20390183,2013-10-13,ICN,2.0,2014-01-07,2014-03-29,NaN,NaN,NaN,NaN
20390184,2013-10-13,PMI,2.0,2013-12-12,2013-12-14,NaN,NaN,NaN,NaN
20390185,2013-10-13,BKK,2.0,2013-12-21,2014-01-31,NaN,NaN,NaN,NaN
20390186,2013-10-13,AMS,2.0,2014-01-10,2014-01-13,NaN,NaN,NaN,NaN
20390187,2013-10-13,SRP,2.0,2013-10-23,2013-10-24,NaN,NaN,NaN,NaN
20390188,2013-10-13,MCT,4.0,2013-10-15,2013-10-16,2013-10-22,2013-10-23,NaN,NaN
20390189,2013-10-13,SKG,1.0,2014-01-04,NaN,NaN,NaN,NaN,NaN
20390190,2013-10-13,AMD,2.0,2013-12-26,2014-01-02,NaN,NaN,NaN,NaN
20390191,2013-10-13,BRS,1.0,2013-11-01,NaN,NaN,NaN,NaN,NaN
20390192,2013-10-13,AKL,1.0,2013-12-18,NaN,NaN,NaN,NaN,NaN
20390193,2013-10-13,NBO,2.0,2013-12-05,2014-02-28,NaN,NaN,NaN,NaN
20390194,2013-10-13,ALA,4.0,2013-12-16,2013-12-16,2013-12-24,2013-12-25,NaN,NaN
20390195,2013-10-13,LHR,2.0,2013-11-26,2013-12-06,NaN,NaN,NaN,NaN
20390196,2013-10-13,MAD,1.0,2014-05-30,NaN,NaN,NaN,NaN,NaN
20390197,2013-10-13,HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN