In [0]:
"""
Amadeus Challenge : Data Scientist Position
Author            : Angeloni Julien
Date Creation     : 11/08/2018

Third exercise - Plot the monthly number of searches for flights arriving at
                  * Malaga
                  * Madrid
                  * Barcelona

Data              : searches.csv
"""

In [0]:
#LIBRARIES
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

import re

In [2]:
#IMPORT FILE
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [0]:
#GLOBAL VARIABLES
SEARCHES = '/content/gdrive/My Drive/Colab Notebooks/searches.csv'

#DATAFRAME STRUCTURE
cols = ['Date','Destination','NbSegments','Seg1Date','Seg2Date','Seg3Date','Seg4Date','Seg5Date','Seg6Date', 'Seg2Arrival']
SEARCHES_DF_DEST = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', sep='^', usecols=cols)

In [9]:
SEARCHES_DF_DEST

,Date,Destination,NbSegments,Seg1Date,Seg2Arrival,Seg2Date,Seg3Date,Seg4Date,Seg5Date,Seg6Date
0,2013-01-01,AUH,2.0,2013-01-26,TXL,2013-02-02,NaN,NaN,NaN,NaN
1,2013-01-01,MIL,1.0,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-01-01,SFO,2.0,2013-08-02,ICT,2013-08-09,NaN,NaN,NaN,NaN
3,2013-01-01,ARN,1.0,2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-01-01,MAD,2.0,2013-03-22,OSL,2013-03-31,NaN,NaN,NaN,NaN
5,2013-01-01,BLR,2.0,2013-02-14,IAH,2013-02-23,NaN,NaN,NaN,NaN
6,2013-01-01,PAR,2.0,2013-03-02,CPH,2013-03-07,NaN,NaN,NaN,NaN
7,2013-01-01,DUB,2.0,2013-02-12,PAR,2013-02-17,NaN,NaN,NaN,NaN
8,2013-01-01,ACE,2.0,2013-03-30,DUS,2013-04-06,NaN,NaN,NaN,NaN
9,2013-01-01,BGW,2.0,2013-02-26,FRA,2013-04-08,NaN,NaN,NaN,NaN
10,2013-01-01,BUD,2.0,2013-03-14,PAR,2013-03-17,NaN,NaN,NaN,NaN
11,2013-01-01,POA,2.0,2013-02-01,RIO,2013-02-18,NaN,NaN,NaN,NaN
12,2013-01-01,MXP,2.0,2013-05-21,HKG,2013-06-03,NaN,NaN,NaN,NaN
13,2013-01-01,LON,1.0,2013-01-30,NaN,NaN,NaN,NaN,NaN,NaN
14,2013-01-01,SNN,2.0,2013-06-05,CLE,2013-06-23,NaN,NaN,NaN,NaN
15,2013-01-01,SLZ,1.0,2013-04-23,NaN,NaN,NaN,NaN,NaN,NaN
16,2013-01-01,PHL,1.0,2013-02-22,NaN,NaN,NaN,NaN,NaN,NaN
17,2013-01-01,GRU,2.0,2013-01-04,BOS,2013-02-04,NaN,NaN,NaN,NaN
18,2013-01-01,IKT,1.0,2013-04-02,NaN,NaN,NaN,NaN,NaN,NaN
19,2013-01-01,HKG,2.0,2013-01-05,LON,2013-01-11,NaN,NaN,NaN,NaN
20,2013-01-01,SEA,2.0,2013-06-26,MAD,2013-07-26,NaN,NaN,NaN,NaN
21,2013-01-01,STN,2.0,2013-03-18,DUS,2013-03-22,NaN,NaN,NaN,NaN
22,2013-01-01,FUE,1.0,2013-01-15,NaN,NaN,NaN,NaN,NaN,NaN
23,2013-01-01,IST,2.0,2013-03-24,DUS,2013-03-28,NaN,NaN,NaN,NaN
24,2013-01-01,VIE,2.0,2013-01-15,BHX,2013-01-22,NaN,NaN,NaN,NaN
25,2013-01-01,SAO,1.0,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN
26,2013-01-01,BRI,2.0,2013-04-06,ZRH,2013-04-14,NaN,NaN,NaN,NaN
27,2013-01-01,JED,1.0,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN
28,2013-01-01,CPH,2.0,2013-01-06,UME,2013-01-15,NaN,NaN,NaN,NaN
29,2013-01-01,DRS,1.0,2013-04-03,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20390168,2013-10-13,ZAD,2.0,2013-10-30,GOT,2013-11-03,NaN,NaN,NaN,NaN
20390169,2013-10-13,PEI,4.0,2013-10-19,PEI,2013-10-19,2013-10-26,2013-10-26,NaN,NaN
20390170,2013-10-13,MLE,2.0,2013-12-19,NYC,2013-12-30,NaN,NaN,NaN,NaN
20390171,2013-10-13,DEL,2.0,2013-12-29,MAN,2014-01-30,NaN,NaN,NaN,NaN
20390172,2013-10-13,ABJ,2.0,2014-01-28,NYC,2014-03-30,NaN,NaN,NaN,NaN
20390173,2013-10-13,BRU,2.0,2013-10-18,OZZ,2013-11-13,NaN,NaN,NaN,NaN
20390174,2013-10-13,CDG,2.0,2013-11-14,MOW,2013-11-17,NaN,NaN,NaN,NaN
20390175,2013-10-13,BKK,2.0,2013-12-10,LAX,2014-01-16,NaN,NaN,NaN,NaN
20390176,2013-10-13,SSA,1.0,2013-11-05,NaN,NaN,NaN,NaN,NaN,NaN
20390177,2013-10-13,CPH,1.0,2014-07-21,NaN,NaN,NaN,NaN,NaN,NaN
20390178,2013-10-13,CGH,1.0,2013-10-22,NaN,NaN,NaN,NaN,NaN,NaN
20390179,2013-10-13,PVR,2.0,2013-11-29,ORD,2013-12-06,NaN,NaN,NaN,NaN
20390180,2013-10-13,HAM,2.0,2013-10-21,FRA,2013-10-24,NaN,NaN,NaN,NaN
20390181,2013-10-13,PRG,1.0,2013-11-21,NaN,NaN,NaN,NaN,NaN,NaN
20390182,2013-10-13,JFK,4.0,2013-12-26,JFK,2013-12-26,2014-01-05,2014-01-06,NaN,NaN
20390183,2013-10-13,ICN,2.0,2014-01-07,SEA,2014-03-29,NaN,NaN,NaN,NaN
20390184,2013-10-13,PMI,2.0,2013-12-12,FRA,2013-12-14,NaN,NaN,NaN,NaN
20390185,2013-10-13,BKK,2.0,2013-12-21,FRA,2014-01-31,NaN,NaN,NaN,NaN
20390186,2013-10-13,AMS,2.0,2014-01-10,MAD,2014-01-13,NaN,NaN,NaN,NaN
20390187,2013-10-13,SRP,2.0,2013-10-23,TRD,2013-10-24,NaN,NaN,NaN,NaN
20390188,2013-10-13,MCT,4.0,2013-10-15,MCT,2013-10-16,2013-10-22,2013-10-23,NaN,NaN
20390189,2013-10-13,SKG,1.0,2014-01-04,NaN,NaN,NaN,NaN,NaN,NaN
20390190,2013-10-13,AMD,2.0,2013-12-26,MEL,2014-01-02,NaN,NaN,NaN,NaN
20390191,2013-10-13,BRS,1.0,2013-11-01,NaN,NaN,NaN,NaN,NaN,NaN
20390192,2013-10-13,AKL,1.0,2013-12-18,NaN,NaN,NaN,NaN,NaN,NaN
20390193,2013-10-13,NBO,2.0,2013-12-05,GOT,2014-02-28,NaN,NaN,NaN,NaN
20390194,2013-10-13,ALA,4.0,2013-12-16,ALA,2013-12-16,2013-12-24,2013-12-25,NaN,NaN
20390195,2013-10-13,LHR,2.0,2013-11-26,KWI,2013-12-06,NaN,NaN,NaN,NaN
20390196,2013-10-13,MAD,1.0,2014-05-30,NaN,NaN,NaN,NaN,NaN,NaN
20390197,2013-10-13,HA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Data Analysis :

We want the total of destinations for all destination ariports monthly. 
Viewing the results of our previous selection, we understand that :


*   Destination does not correpond to the final segment
*   NbSegments correpsponds to the number of segments for the travel
*   SegNDate correpond to the date the plane has arrived in the segment

In [0]:
#DATAFRAME STRUCTURE
cols = ['Date','Time','From','Seg1Departure','Seg1Arrival','Seg2Departure','Seg2Arrival','Destination']
SEARCHES_DF_DEST = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', sep='^', usecols=cols)

In [11]:
SEARCHES_DF_DEST

,Date,Time,Destination,Seg1Departure,Seg1Arrival,Seg2Departure,Seg2Arrival,From
0,2013-01-01,20:25:57,AUH,TXL,AUH,AUH,TXL,1ASIWS
1,2013-01-01,10:15:33,MIL,ATH,MIL,NaN,NaN,1ASIWS
2,2013-01-01,18:04:49,SFO,ICT,SFO,SFO,ICT,1ASIWS
3,2013-01-01,17:42:40,ARN,RNB,ARN,NaN,NaN,1ASI
4,2013-01-01,17:48:29,MAD,OSL,MAD,MAD,OSL,1ASIWS
5,2013-01-01,22:00:28,BLR,IAH,BLR,BLR,IAH,1ASIWS
6,2013-01-01,10:47:14,PAR,CPH,PAR,PAR,CPH,1ASI
7,2013-01-01,23:39:49,DUB,PAR,DUB,DUB,PAR,1ASIWS
8,2013-01-01,17:08:46,ACE,DUS,ACE,ACE,DUS,1ASIWS
9,2013-01-01,19:57:57,BGW,FRA,BGW,BGW,FRA,1ASI
10,2013-01-01,18:01:31,BUD,PAR,BUD,BUD,PAR,1ASIWS
11,2013-01-01,09:32:18,POA,RIO,POA,POA,RIO,1ASIWS
12,2013-01-01,05:41:14,MXP,HKG,MXP,MXP,HKG,1ASIWS
13,2013-01-01,07:05:45,LON,BCN,LON,NaN,NaN,1ASIWS
14,2013-01-01,03:30:49,SNN,CLE,SNN,SNN,CLE,1ASI
15,2013-01-01,09:19:41,SLZ,BSB,SLZ,NaN,NaN,1ASIWS
16,2013-01-01,06:20:43,PHL,PEK,PHL,NaN,NaN,1ASIWS
17,2013-01-01,18:54:24,GRU,BOS,GRU,GRU,BOS,1ASIWS
18,2013-01-01,10:47:24,IKT,TBS,IKT,NaN,NaN,1ASIWS
19,2013-01-01,19:02:13,HKG,LON,HKG,HKG,LON,1ASI
20,2013-01-01,18:38:29,SEA,MAD,SEA,SEA,MAD,1ASIWS
21,2013-01-01,14:07:13,STN,DUS,STN,STN,DUS,1ASI
22,2013-01-01,15:14:09,FUE,PAD,FUE,NaN,NaN,1ASIWS
23,2013-01-01,23:32:58,IST,DUS,IST,IST,DUS,1ASIWS
24,2013-01-01,10:39:09,VIE,BHX,VIE,VIE,BHX,1ASI
25,2013-01-01,13:49:17,SAO,CGB,SAO,NaN,NaN,1ASIWS
26,2013-01-01,21:22:10,BRI,ZRH,BRI,BRI,ZRH,1ASI
27,2013-01-01,18:33:28,JED,RUH,JED,NaN,NaN,1ASIWS
28,2013-01-01,16:59:19,CPH,UME,CPH,CPH,UME,1ASI
29,2013-01-01,21:25:37,DRS,FRA,DRS,NaN,NaN,1ASIWS
...,...,...,...,...,...,...,...,...
20390168,2013-10-13,13:01:25,ZAD,GOT,ZAD,ZAD,GOT,1ASIWS
20390169,2013-10-13,09:01:40,PEI,BGA,BOG,BOG,PEI,1ASI
20390170,2013-10-13,22:14:17,MLE,NYC,MLE,MLE,NYC,1ASIWS
20390171,2013-10-13,08:09:11,DEL,MAN,DEL,DEL,MAN,1ASIWS
20390172,2013-10-13,04:44:37,ABJ,NYC,ABJ,ABJ,NYC,1ASIWS
20390173,2013-10-13,22:46:17,BRU,OZZ,BRU,BRU,OZZ,1ASIWS
20390174,2013-10-13,08:55:38,CDG,MOW,CDG,CDG,MOW,1ASIWS
20390175,2013-10-13,23:37:12,BKK,LAX,BKK,BKK,LAX,1ASIWS
20390176,2013-10-13,05:54:02,SSA,SAO,SSA,NaN,NaN,1ASIWS
20390177,2013-10-13,07:50:19,CPH,SCN,CPH,NaN,NaN,1ASIWS
20390178,2013-10-13,22:21:42,CGH,GYN,CGH,NaN,NaN,1ASIWS
20390179,2013-10-13,18:20:19,PVR,ORD,PVR,PVR,ORD,1ASI
20390180,2013-10-13,17:13:47,HAM,FRA,HAM,HAM,FRA,1ASIWS
20390181,2013-10-13,17:00:11,PRG,SCQ,PRG,NaN,NaN,1ASI
20390182,2013-10-13,17:13:13,JFK,STR,ZRH,ZRH,JFK,1ASI
20390183,2013-10-13,08:18:24,ICN,SEA,ICN,ICN,SEA,1ASIWS
20390184,2013-10-13,20:04:19,PMI,FRA,PMI,PMI,FRA,1ASIWS
20390185,2013-10-13,07:13:10,BKK,FRA,BKK,BKK,FRA,1ASIWS
20390186,2013-10-13,10:51:21,AMS,MAD,AMS,AMS,MAD,1ASIWS
20390187,2013-10-13,11:49:54,SRP,TRD,SRP,SRP,TRD,NaN
20390188,2013-10-13,20:22:53,MCT,MEL,DOH,DOH,MCT,1ASI
20390189,2013-10-13,07:20:35,SKG,PRG,SKG,NaN,NaN,1ASIWS
20390190,2013-10-13,04:18:20,AMD,MEL,AMD,AMD,MEL,1ASIWS
20390191,2013-10-13,22:26:57,BRS,ALC,BRS,NaN,NaN,1ASIWS
20390192,2013-10-13,18:08:48,AKL,ADL,AKL,NaN,NaN,1ASIWS
20390193,2013-10-13,12:34:56,NBO,GOT,NBO,NBO,GOT,1ASIWS
20390194,2013-10-13,10:03:58,ALA,DUS,IST,IST,ALA,1ASI
20390195,2013-10-13,14:11:34,LHR,KWI,LHR,LHR,KWI,1ASI
20390196,2013-10-13,05:47:30,MAD,MFE,MAD,NaN,NaN,1ASI
20390197,2013-10-13,18:57:54,HA,NaN,NaN,NaN,NaN,NaN

Data Analysis :

Viewing the results of our previous selection, we understand that :


*   A 'Segment' is a one-way travel or a return travel on a specific overhead line

As we are in the "searches" file, we will use only "Date" to get the number of search for a destination airport monthly.

Finaly, we will only use "Date" and "Destination" fields. We will select only one corresponding to the three airports selected.

In [0]:
#GENERATE USEFULL STRUCTURE
cols = ['Date','Destination']
SEARCHES_DF_DEST = pd.read_csv(SEARCHES, error_bad_lines=False, encoding='UTF8', sep='^', usecols=cols)

In [16]:
SEARCHES_DF_DEST

                Date Destination
0         2013-01-01         AUH
1         2013-01-01         MIL
2         2013-01-01         SFO
3         2013-01-01         ARN
4         2013-01-01         MAD
5         2013-01-01         BLR
6         2013-01-01         PAR
7         2013-01-01         DUB
8         2013-01-01         ACE
9         2013-01-01         BGW
10        2013-01-01         BUD
11        2013-01-01         POA
12        2013-01-01         MXP
13        2013-01-01         LON
14        2013-01-01         SNN
15        2013-01-01         SLZ
16        2013-01-01         PHL
17        2013-01-01         GRU
18        2013-01-01         IKT
19        2013-01-01         HKG
20        2013-01-01         SEA
21        2013-01-01         STN
22        2013-01-01         FUE
23        2013-01-01         IST
24        2013-01-01         VIE
25        2013-01-01         SAO
26        2013-01-01         BRI
27        2013-01-01         JED
28        2013-01-01         CPH
29        2013-01-01         DRS
...              ...         ...
20390168  2013-10-13         ZAD
20390169  2013-10-13         PEI
20390170  2013-10-13         MLE
20390171  2013-10-13         DEL
20390172  2013-10-13         ABJ
20390173  2013-10-13         BRU
20390174  2013-10-13         CDG
20390175  2013-10-13         BKK
20390176  2013-10-13         SSA
20390177  2013-10-13         CPH
20390178  2013-10-13         CGH
20390179  2013-10-13         PVR
20390180  2013-10-13         HAM
20390181  2013-10-13         PRG
20390182  2013-10-13         JFK
20390183  2013-10-13         ICN
20390184  2013-10-13         PMI
20390185  2013-10-13         BKK
20390186  2013-10-13         AMS
20390187  2013-10-13         SRP
20390188  2013-10-13         MCT
20390189  2013-10-13         SKG
20390190  2013-10-13         AMD
20390191  2013-10-13         BRS
20390192  2013-10-13         AKL
20390193  2013-10-13         NBO
20390194  2013-10-13         ALA
20390195  2013-10-13         LHR
20390196  2013-10-13         MAD
20390197  2013-10-13          HA

[20390198 rows x 2 columns]

In [20]:
#CREATE REGEX TO GET MONTH FROM "DATE"
reg = r'(2013)\-(\d*)\-(\d*)'

'''
  Thanks to our previous dataframe, we know that month is at the second place in
  the "Date" field.
'''

'\n  Thanks to our previous dataframe, we know that month is at the second place in\n  the "Date" field.\n'

In [25]:
#TEST OUR REGEX
m = re.search(reg, "2013-10-20")
print("Expected: 10, Found: ", m.group(2))

m = re.search(reg, "2013-150-20")
print("Expected: 150, Found: ", m.group(2))

'''
  We have tested our regex on wrong results at https://regex101.com/
'''

('Expected: 10, Found: ', '10')
('Expected: 150, Found: ', '150')

'\n  We have tested our regex on wrong results at https://regex101.com/\n'

In [35]:
def get_month(date):
  """
    Function to get the month from a date if YMD format
    
    @date   : the date to extract month
    
    @return : an int concerning the month found
  """
  
  date = str(date)
  
  m = re.search(reg, date)
  
  return m.group(2)

#TEST FUNCTION

print(get_month("2013-10-20"))

 10

In [0]:
#MODIFY THE "Date" FIELD BY THE MONTH NUMBER
SEARCHES_DF_DEST['Date'] = SEARCHES_DF_DEST['Date'].apply(lambda x: get_month(x))

In [37]:
#CHECK THE RESULT
SEARCHES_DF_DEST

         Date Destination
0          01         AUH
1          01         MIL
2          01         SFO
3          01         ARN
4          01         MAD
5          01         BLR
6          01         PAR
7          01         DUB
8          01         ACE
9          01         BGW
10         01         BUD
11         01         POA
12         01         MXP
13         01         LON
14         01         SNN
15         01         SLZ
16         01         PHL
17         01         GRU
18         01         IKT
19         01         HKG
20         01         SEA
21         01         STN
22         01         FUE
23         01         IST
24         01         VIE
25         01         SAO
26         01         BRI
27         01         JED
28         01         CPH
29         01         DRS
...       ...         ...
20390168   10         ZAD
20390169   10         PEI
20390170   10         MLE
20390171   10         DEL
20390172   10         ABJ
20390173   10         BRU
20390174   10         CDG
20390175   10         BKK
20390176   10         SSA
20390177   10         CPH
20390178   10         CGH
20390179   10         PVR
20390180   10         HAM
20390181   10         PRG
20390182   10         JFK
20390183   10         ICN
20390184   10         PMI
20390185   10         BKK
20390186   10         AMS
20390187   10         SRP
20390188   10         MCT
20390189   10         SKG
20390190   10         AMD
20390191   10         BRS
20390192   10         AKL
20390193   10         NBO
20390194   10         ALA
20390195   10         LHR
20390196   10         MAD
20390197   10          HA

[20390198 rows x 2 columns]